 /* Footer Section */
.footer-section {
  background: rgba(69, 73, 82, 0.9);
  color: #fff;
  padding-top: 7rem;
  position: relative;
  margin-bottom: -15rem;
}

.footer-logo {
  max-width: 200px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.5s ease;
}

.social-icons a:hover {
  color: #ffc107;
}

.footer-content {
  margin-top: 20px;
}

.footer-content p {
  font-size: 0.9rem;
  color: white;
}

.quick-links h5 {
  margin-left: 20px;
}

.quick-links h5,
.connect-info h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.quick-links li {
  list-style-type: none;
  margin-bottom: 8px;
}

.quick-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quick-links li a:hover {
  color: #ffc107;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info p {
  margin-left: 10px;
  color: white;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: white;
}

.footer-bottom .powered-by {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: white;
}

.coldsis{
  text-decoration: none;
  color: white;
}

/* Responsive Styles */

/* Medium screens and smaller */
@media (max-width: 992px) {
  .social-icons {
    justify-content: center;
  }
}

/* Small screens and smaller */
@media (max-width: 768px) {
  .footer-section .row {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .social-icons {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-content p,
  .quick-links li,
  .contact-info {
    justify-content: center;
  }

  .footer-bottom {
    text-align: center;
  }
}

/* Extra-small screens */
@media (max-width: 576px) {
  .footer-logo {
    max-width: 150px;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }

  .social-icons a {
    font-size: 1.3rem;
   
  }
}
